body{
    font-family: 'Roboto',sans-serif;
    display:flex;
    flex-direction:column;
    margin:0;
    padding:0;
    background-color: lightgray;
}

.header{
    background-color: #1F2937;
    padding-left:100px;
    padding-right: 100px;
    padding-top:20px;
    padding-bottom:50px;
    margin:0;
    display:flex;
    flex-direction: column;
    gap: 30px;
}

.header-content{
    display:flex;
    justify-content: space-between;
}

.logo{
    font-size:20px;
    color:#F9FAF8;
    margin:0;
}

ul{
    list-style-type: none;
    display:flex;
    gap: 20px;
    color:#E5E7EB;
    font-size:15px;
    margin-top:0;
}

a{
    text-decoration: none; color:#E5E7EB;
}

#image{
    width:300px;
    height:200px;
}

.content-1{
    display:flex;
    justify-content: space-between;
}

.content-1-text{
    display:flex;
    flex-direction: column;
    gap:20px;
    justify-content: space-between;
}

.hi{
    background-color:slategrey;
    width:150px;
    vertical-align: bottom;
    height: 35px;
    border-radius:7px;
    border-color: transparent;
}

.hi:hover{
    background-color: darkgray;
    transition:0.7s;
}

.hero{
    font-size:36px;
    font-weight: bolder;
    color:#F9FAF8;
    display:flex;
    flex-wrap: wrap;
    width:300px;
}

.second-hero, .header-links{
    font-size:18px;
    color:#E5E7EB;
}






.content-2{
    padding:30px;
    height:300px;
    display:flex;
    flex-direction: column;
    gap:30px;
    

}

.information{
    font-weight:bolder;
    font-size:30px;
    color:#1F2937;
    text-align: center;
    padding:10px;
}

.information-list{
    display:flex;
    justify-content: center;
    gap:10px;
}

span{
    padding:20px;
    border:3px solid black;
    height:50px;
    width:30px;
}


li{
    list-style-type: none;
    display:flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
}





.content-3{
    font-style:italic;
    font-weight: lighter;
    font-size: 30px;
    color:#1F2937;
    background-color: #E5E7EB;
    padding:100px;
    display:flex;
    align-items:center;
    justify-content: center;
}



.content-4{
    color:#F9FAF8;
    background-color:#1F2937;
    margin:100px;
    display:flex;
    padding:30px 50px;
    height:70px;
    justify-content: space-between;
    align-items: center;
}

.content-4-text{
    display:flex;
    flex-direction:column;
    gap:5px;
}

.content-4-text-1{
    color:#F9FAF8;
    font-weight: bold;
    font-size:20px;
}

.content-4-text-2{
    color:#E5E7EB;
    font-size:15px;
}

.action{
    background-color:slategrey;
    border:transparent;
    border-radius:8px;
    height:40px;
    width:100px;
    box-shadow:0 5px;
}

.action:hover{
    background-color: dimgray;
    transition:0.7px;
    transform:translateY(3px)
}

.action:active{
    background-color:dimgray;
    box-shadow: 0;
}


.footer{
    height:50px;
    color:#E5E7EB;
    margin:0;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: #1F2937;
}


