.content-3{
    font-style:italic;
    font-weight: lighter;
    font-size: 36px;
    color:#1F2937;
    background-color: #E5E7EB;
}

information{
    font-weight:bolder;
    font-size:36px;
    color:#1F2937
}

.content-4-text-1, button{
    background-color:#3882F6
}

.logo{
    font-size:24px;
    color:#F9FAF8
}

.content-1{
    background-color: #1F2937;
}

h1{
    font-size:48px;
    font-weight: bolder;
    color:#F9FAF8;
}

h2{
    font-size:18px;
    color:#E5E7EB;
}

.footer{
    background-color: #1F2937;
}