body{
    font-family: 'Roboto',sans-serif;
    display:flex;
    flex-direction:column;
    margin:0;
    padding:0;

}

.header-1{
    display:flex;
    justify-content: space-between;
}

.content-3{
    font-style:italic;
    font-weight: lighter;
    font-size: 36px;
    color:#1F2937;
    background-color: #E5E7EB;
    text-align: center;
    padding:50px;
}

.information{
    font-weight:bolder;
    font-size:36px;
    color:#1F2937;
    text-align: center;
}

.content-4-text-1, button{
    background-color:#3882F6
}

.logo{
    font-size:24px;
    color:#F9FAF8;
    margin:0;
}

.header{
    background-color: #1F2937;
}

.hero{
    font-size:48px;
    font-weight: bolder;
    color:#F9FAF8;
    display:flex;
    flex-wrap: wrap;
    width:450px;
}

.second-hero, .header-links{
    font-size:18px;
    color:#E5E7EB;
}

.footer{
    background-color: #1F2937;
}

ul{
    list-style-type: none;
    display:flex;
    gap: 20px;
    color:#E5E7EB
   
}

a{
    text-decoration: none; color:#E5E7EB;
}

.header{
    padding-top:30px;
    padding-left:100px;
    padding-right:100px;
    padding-bottom:100px;
    margin:0;
    display:flex;
    flex-direction: column;
    gap: 20px;
}

#image{
    width:400px;
    height:200px;
}

.header-2{
    display:flex;
    gap:20px;
    
}

button{
    width:150px;
    vertical-align: bottom;
}

.header-2-content{
    display:flex;
    flex-direction: column;
    gap:20px;
    justify-content: space-between;
}

.content-2{
    padding:30px;
}

.information-list{
    display:flex;
    justify-content: center;
    gap:10px;
    padding-left:30px;
    padding-right:30px;
}

.text{
    width:200px;
}